*{ /*margens da pag*/
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
}

html{
    background-color: rgb(56, 56, 56);
    font-family: Arial, Helvetica, sans-serif;
    overflow-x: hidden;
    font-size: 70%;
    scroll-behavior: smooth;
    
}


/*navbar*/

.header{
    background: transparent ;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar{
    display: flex;
    height: 50px;
    align-items: center;
    justify-content: end;
    padding: 20px 50px;
}



.navbar a{
    margin: 20px;
    color: #fff;
    border-bottom: 2px solid transparent;
    transition: 0.6s;
    font-size: 15px;
    font-weight: 50px;
}

.navbar a:hover{
    border-bottom: 2px solid #c800ffc4;;
    color: #c800ffc4;;

}

.logo{
    padding: 20px 50px;
    font-size: 30px;
    font-weight: 400px;
    color: #fff;
    text-shadow: 0 0 25px #c800ffc4;
}

/*Section Inicio*/
section{ /*Todas as sections*/
    width: 100%;
    height: 100%;
    padding: 20px 50px;
    margin-top: 50px;
}



.Inicio{ /*section inicio organizacao*/
    background-color: rgb(56, 56, 56);
    display: flex;
    align-items: center;
    
}

.info{ /*texto*/
    padding: 20px 300px 0 0;
    
}

.info h2{ /*nome*/
    font-size: 60px;
    font-weight: 200px;
    color: #f4efef;
    border-bottom: 1px solid #f4efef;
    width: 430px;
}

.info h2 span{ 
    color: #c800ffc4;;
}


.info h3{ /*dev wako*/
    font-size: 30px;
    font-weight: 100px;
    margin-top: 2px;
    color: #f4efef;
}

.info h3 span{
    text-shadow:0 0 5px #c800ffc4;

}

.info p{
    font-size: 16px;
    font-weight: 60px;
    color: #f4efef;
    margin-top: 15px;
    text-align: justify;

}

/*butoes*/
/*display*/
.buttones{
  display: flex;
  align-items: center;
  margin-top: 25px;
}
/*butoes de sociais*/
.social{
    display: flex;
    align-items: center;
}

.social a{
    background-color: transparent;
    border: 1px solid #c800ffc4;
    padding: 10px;
    font-size: 15px;
    border-radius: 50%;
    margin: 20px 20px;
    color: #c800ffc4;
    transition:  0.5s;

}

.social a:hover{
     background-color: #050505;
     border: none;
     color: #f4efef;
     box-shadow: 0 0 10px #c800ffc4;
}

/*cv*/

.Cv{
    border: 1px solid ;
    background-color: transparent;
    padding: 10px 30px;
    font-size: 15px;
    border-radius: 30px;
    color: #c800ffc4;
    transition: 0.5s;
}
    
.Cv:hover{
    border: none;
    color: #f4efef;
    background-color: #050505;
    transform: scale(1.05);
    box-shadow: 0 0 10px #c800ffc4;
}

/*Section habilidade*/

.Habilidades{ /*sectio habilidades*/
    margin-top: 120px;
    margin-bottom: 120px;
}

.textoprincipal{ /*minhas habilidades*/
    margin-bottom: 60px;
    font-size: 60px;
    font-weight: 200px;
    color: #f4efef;
    border-bottom: 1px solid #f4efef;
    border-top: 1px solid #f4efef;
    text-align: center;
}

.textoprincipal span{
    color: #c800ffc4;
}

.Habilidadespai{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    min-height: 30vh;
}

/*card 1 habilidades*/
.Habilidadespai .box1{
    background: transparent;
    padding: 20px 20px 20px;
    border-radius: 15px;
    margin: 20px 0 20px;
    transition: 0.9s;
    cursor: pointer;
}


.Habilidadespai .box1:hover{
    box-shadow: 0 0 15px #c800ffc4;
    border: 1px solid #c800ffc4;
    transform: scale(1.0.5);
}

/*display do texto e img*/
.Habilidadespai .box1 .boxe{
    display: flex;
    
}

/*icone man*/
.Habilidadespai .box1 i{
   margin-top: 6px;
   font-size: 30px;
   font-weight: 100px;
   color:#c800ffc4;
}

/*texto principal*/
.Habilidadespai .box1 h3{
    font-size: 30px;
    font-weight: 100px;
    margin-top: 2px;
    color: #f4efef;
}

/*texto basic*/
.Habilidadespai .box1 p{
    font-size: 16px;
    font-weight: 60px;
    color: #f4efef;
    margin-top: 15px;
    text-align: justify;

}





/*card 2 habilidades*/
.Habilidadespai .box2{
    background: transparent;
    padding: 20px 20px 20px;
    border-radius: 15px;
    margin: 20px 0 20px;
    transition: 0.9s;
    cursor: pointer;
}

.Habilidadespai .box2:hover{
    box-shadow: 0 0 15px #c800ffc4;
    border: 1px solid #c800ffc4;
    transform: scale(1.0.5);
}

/*display do texto e img*/
.Habilidadespai .box2 .boxe{
    display: flex;
    
}

/*icone man 2*/
.Habilidadespai .box2 i{
   margin-top: 6px;
   font-size: 30px;
   font-weight: 100px;
   color:#c800ffc4;
}
/*texto principal*/
.Habilidadespai .box2 h3{
    font-size: 30px;
    font-weight: 100px;
    margin-top: 2px;
    color: #f4efef;
}

/*texto basic*/
.Habilidadespai .box2 p{
    font-size: 16px;
    font-weight: 60px;
    color: #f4efef;
    margin-top: 15px;
    text-align: justify;

}




/*card 3*/
.Habilidadespai .box3{ /*card 3*/
    background: transparent;
    padding: 20px 20px 20px;
    border-radius: 15px;
    margin: 20px 0 20px;
    transition: 0.9s;
    cursor: pointer;
}

.Habilidadespai .box3:hover{
    box-shadow: 0 0 15px #c800ffc4;
    border: 1px solid #c800ffc4;
    transform: scale(1.0.5);
}

/*display do texto e img*/
.Habilidadespai .box3 .boxe{
    display: flex;
    
}

/*icone man*/
.Habilidadespai .box3 i{
   margin-top: 6px;
   font-size: 30px;
   font-weight: 100px;
   color:#c800ffc4;
}

/*texto principal 3*/
.Habilidadespai .box3 h3{
    font-size: 30px;
    font-weight: 100px;
    margin-top: 2px;
    color: #f4efef;
}

/*texto basic 3*/
.Habilidadespai .box3 p{
    font-size: 16px;
    font-weight: 60px;
    color: #f4efef;
    margin-top: 15px;
    text-align: justify;

}



/*section Resumo*/
/*sobre mim*/

.Resumo{
    height: 160vh;
}

.Resumox{ /*texto inical/principal*/
    margin-bottom: 60px;
    font-size: 60px;
    font-weight: 200px;
    color: #f4efef;
    border-bottom: 1px solid #f4efef;
    width: 580px;
    margin-left: 30%;
    text-align: center;
    
    
}

.Resumox:hover{
    transform: scale(1.1);
    text-shadow: 0 0 25px blueviolet;

}

.Resumox span{
    color: #c800ffc4;
    
}


.Resumobox1{ /*sobre mim*/
    background:transparent;
    height: 190px;
    width: 500px;
    margin-left: 33%;
    text-align: center;
}

.Resumobox1 h3{ 
    font-size: 30px;
    font-weight: 100px;
    color: #f4efef;
    margin-bottom: 15px;
    margin-top: 5px;
}

.Resumobox1 h3 span{
   color: #c800ffc4;  
}

.Resumobox1 p{
    font-size: 16px;
    font-weight: 60px;
    color: #e1dcdc;
    text-align: justify;
}

/*Education*/
.Resumoman{
    position: absolute;
    width: 95%;
    padding: 10px;
   
}

.Educ{
    font-size: 40px;
    color: #f4efef;
    border-bottom: 1px solid #f4efef;
    width: 220px;
    margin: 0 auto 50px;
    text-align: center
}

.Resumobox{
    background: transparent;
    border: 1px solid #c800ffc4;
    box-shadow: 0 0 10px #c800ffc4;
    width: 45%;
    margin: 0 auto 50px;
    border-radius: 10px;
    padding: 20px;
    color: #fff;
    transition: 1s;
    cursor: pointer;
}

.Resumobox:hover{
    box-shadow: 0 0 15px #c800ffc4;
    background-color: #c800ff;
}

.Resumobox:nth-child(odd){
    float: left;
    clear: both; 
}

.Resumobox:nth-child(even){
    float: right;
    clear: both;
}

/*fonte e etc*/
.Resumobox h3{
    font-size: 30px;
    font-weight: 40px;
    margin-top: 2px;
    color: #f4efef;
    margin-bottom: 5px;
}

.Resumobox p{
    font-size: 16px;
    font-weight: 20px;
    color: #b9b5b5;
    margin-top: 5px;
    text-align: justify;
}

/*Formulario*/


.Contacto{ /*section*/
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-height: 700px;


}

.contatinho{ /*texto contacte-me*/
    margin-bottom: 30px;
    font-size: 60px;
    font-weight: 200px;
    color: #f4efef;
    border-bottom: 1px solid #f4efef;
    width: 580px;
    text-align: center;
}

.contatinho span{
    color: #c800ff;
}

.cardizinho{ /*parque em que todas as cards estao*/
    width: 800px;
    height: 400px;
    display: grid;
    justify-content: center;
    align-items: center;
}

.cardd{
    margin: 0 auto;
    max-width: 500px;
    gap: 10px; 
    margin-top: 10px;

}

.cardd input{ /*formulario*/
    width: 400px;
    height: 50%;
    padding: 20px 15px;
    border-radius: 10px;
    display: block;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    border: 1 solid #ffffff;
    box-shadow: 0 0 2px #c800ff;
}

.cardd h3{
    font-size: 20px;
    font-weight: 30px;
    margin-top: 2px;
    color: #f4efef;
    margin-bottom: 5px;
}

.button_cv{
    text-align: center;
    margin-top: 40px;
    transition: 0.5s;
}

.button_cv a{
    border: 1px solid #c800ff;
    padding: 15px 40px;
    border-radius: 10px;
    color: #f4efef;
    font-size: 16px;
    font-weight: 100px;
    transition: 0.5s;
}

.button_cv a:hover{
 background-color: #c800ff;
 box-shadow: 0 0 15px #c800ff;
 transform: scale(1.1);
}

.button_cv:hover{
     transform: scale(1.1);
}

/*Projectos*/


.projectos_texto1{
    color: #f4efef;
    font-size: 40px;
    text-align: center;
    font-weight: 100px;
    margin-bottom: 20px;
}

.meus_projectos{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
}

.Projecto1{
    border: 2px solid #f4efef;
    border-radius: 30px;
    margin: 10px 10px;
    box-shadow: 0 0 15px #f4efef;
    overflow: hidden;
    cursor: pointer;
}

.Projecto1 h3{
    text-align: center;
    margin: 10px 20px;
    font-size: 30px;
    color: #f4efef;
}

.Projecto1 .h3ea{
   margin-bottom: -10px;
}



.Projecto1 .imagem{
    display: flex;
    align-items: center;
    justify-content: center;
}

.Projecto1 img{
    padding: 10px 20px;
    max-width: 300px;
    max-height: 180px;
    margin: 20px;
}


.Projecto1 .h3ea{
   margin-bottom: -10px;
}

.Projecto1 .texto_projectos{
    color: #f4efef;
    font-size: 16px;
    text-align: justify;
    padding: 30px 50px;
}

/*card 2*/
.Projecto2{
    border: 2px solid #f4efef;
    border-radius: 30px;
    margin: 10px 10px;
    box-shadow: 0 0 15px #f4efef;
    overflow: hidden;
    cursor: pointer;
}

.Projecto2 .imagem{
    display: flex;
    align-items: center;
    justify-content: center;
}

.Projecto2 img{
    padding: 10px 20px;
    max-width: 300px;
    max-height: 180px;
    margin: 20px;
}

.Projecto2 h3{
    text-align: center;
    margin: 10px 20px;
    font-size: 30px;
    color: #f4efef;
}

.Projecto2 .h3ea{
   margin-bottom: -10px;
}

.Projecto2 .texto_projectos{
    color: #f4efef;
    font-size: 16px;
    text-align: justify;
    padding: 30px 50px;
}

/*PRojecto 3*/

.Projecto3{
    border: 2px solid #f4efef;
    border-radius: 30px;
    margin: 10px 10px;
    box-shadow: 0 0 15px #f4efef;
    overflow: hidden;
    cursor: pointer;
}

.Projecto3 .imagem{
    display: flex;
    align-items: center;
    justify-content: center;
}

.Projecto3 img{
    padding: 10px 20px;
    max-width: 300px;
    max-height: 180px;
    border-radius: 50px;
    margin: 20px;
}

.Projecto3 h3{
    text-align: center;
    margin: 10px 20px;
    font-size: 30px;
    color: #f4efef;
}
.Projecto3 .h3ea{
   margin-bottom: -10px;
}

.Projecto3 .texto_projectos{
    color: #f4efef;
    font-size: 16px;
    text-align: justify;
    padding: 30px 50px;
}

/*footer*/
.header1{ /*eo footer*/
    margin-top: 110vh;
    background-color: #212121;
}

.footer{ /*oerganization*/
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row-reverse;
}

.footer div{
    display: flex;
    align-items: center;
}

.footer div h3{
    color: #f4efef;
    font-size: 30px;
    font-weight: 100px;
    margin-right: 20px;
    margin-left: 20px;

}

/*imagem de GOD DID*/

.footer .footer_text{
    margin-right: 20px;
}

.footer .footer_text img{
    width: 100px;
    transition:  0.5s ease-in-out;
    
}


.footer .footer_text img:hover{
    transform: scale(1.05);
}


/*botao sap*/
.footer div .first a{
    background-color: transparent;
    border: 1px solid #ffffffc4;
    padding: 10px;
    font-size: 15px;
    border-radius: 50%;
    margin: 20px 20px;
    color: #ffffffc4;
    transition:  0.5s ease-in-out;

}

.footer div .first a:hover{
    background-color: #050505;
    transform: scale(1.05);
    box-shadow: 0 0 15px #d5d1d6;
}

/*botao insta*/

.footer div .second a{
    background-color: transparent;
    border: 1px solid #ffffffc4;
    padding: 10px;
    font-size: 15px;
    border-radius: 50%;
    margin: 20px 20px;
    color: #ffffffc4;
    transition:  0.5s ease-in-out;
}

.footer div .second a:hover{
    background-color: #050505;
    transform: scale(1.05);
    box-shadow: 0 0 15px #d5d1d6;
}


/*Galeria man*/

/*container das imagens electrecidade e Musica*/

.container_1{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    margin-top: 40px;
    margin-bottom: 40px;
}

.container_1 .Electrecidade_imagem img{
    width: 500px;
    cursor: pointer;
    display: flex;
    border: 3px solid #f4efef;
    border-radius: 30px;
    transition: 0.5 ease-in-out;
    
}

.container_1 .Electrecidade_imagem img:hover{
    transform: scale(1.05);
    box-shadow: 0 0 15px #f4efef;
}

.container_1 .gravacao_imagem img{
    width: 500px;
    cursor: pointer;
    display: flex;
    border: 3px solid #f4efef;
    border-radius: 30px;
    transition: 0.5 ease-in-out;
}

.container_1 .gravacao_imagem img:hover{
    transform: scale(1.05);
    box-shadow: 0 0 15px #f4efef;
}


/*grid de imagens*/
.grip_img{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    background-size: cover;
    background: no-repeat center;
}

.grip_img img{
    width: 300px;
    margin: 20px;
    max-height:370px;
    border: 3px solid #f4efef;
    border-radius: 20px;
    cursor: pointer;
    transition: 0.5 ease-in-out;
}

.grip_img img:hover{
    transform: scale(1.05);
    box-shadow: 0 0 15px #f4efef;
} 

/* Large tablets / small laptops */
/* Tablets and large phones */
@media (max-width: 768px){
html{ font-size: 62%; }


.navbar{ padding: 12px 18px; }
.navbar a{ font-size: 14px; margin: 0 8px; }
.logo{ font-size: 24px; padding: 10px 16px; }


section{ padding: 18px 20px; }


.Inicio{ flex-direction: column; align-items: center; text-align: center; }
.info{ padding: 0; }
.info h2{ font-size: 40px; }
.info h3{ font-size: 20px; }


.Habilidadespai{ grid-template-columns: 1fr 1fr; }


.Resumox{ font-size: 44px; width: 100%; margin-left: 0; }
.Resumobox1{ width: 90%; margin-left: 0; }


.Resumobox{ width: 90%; float: none; }


.cardizinho{ width: 100%; }


.container_1{ gap: 20px; }
.container_1 .Electrecidade_imagem img,
.container_1 .gravacao_imagem img{ width: 100%; max-width: 520px; }
}


/* Small phones */
@media (max-width: 480px){
html{ font-size: 56%; }


.navbar{ padding: 10px 12px; }
.navbar a{ font-size: 12px; margin: 0 6px; }
.logo{ font-size: 20px; padding: 8px 12px; }


.info h2{ font-size: 30px; }
.info h3{ font-size: 16px; }
.info p{ font-size: 13px; }


.buttones{ flex-direction: column; gap: 8px; align-items: center; }
.social a{ margin: 6px; }


.Habilidadespai{ display: flex;
flex-direction: column;
 gap: 12px; }


.Resumox{ font-size: 36px; }
.Resumobox1{ width: 95%; margin: 0 auto; }


.Resumobox{ width: 95%; float: none; margin: 12px auto; }


.cardd input, .cardd textarea{ padding: 10px; }


.grip_img{ grid-template-columns: 1fr; }
.grip_img img{ max-height: none; }
}


/* Muito pequeno (ex.: aparelhos muito estreitos) */
@media (max-width: 360px){
html{ font-size: 52%; }
.info h2{ font-size: 26px; }
.Resumox{ font-size: 28px; }
}


/* Reset floats para layout responsivo no fim das sections onde era usado float */
@media (max-width: 768px){
.Resumobox, .Resumobox:nth-child(odd), .Resumobox:nth-child(even){
float: none; clear: none;
}
}


/* Pequenas otimizações de acessibilidade */
:focus{ outline: 2px dashed var(--accent); outline-offset: 3px; }


/* Fim do CSS */

